In [0]:
df = spark.sql("""
SELECT * 
FROM delta.`/Volumes/nintendodatabricksp1okle_workspace/nintendo/gold`
""")

df.createOrReplaceTempView("_sqldf")

In [0]:
%sql
CREATE OR REPLACE TABLE `nintendodatabricksp1okle_workspace`.`nintendo`.`products` AS
SELECT 
    DISTINCT codigo,
    -- Mascarando o nome: pegando apenas os primeiros 30 caracteres
    SUBSTRING(nome, 1, 30) AS nome,
    origem
FROM `_sqldf`
ORDER BY codigo