## Relação Read versus Write

In [0]:
%sql
SELECT 
    type,
    SUM(total_count) AS total_count
FROM (
    SELECT 
        CONCAT(source_table_schema, '.', source_table_name) AS table,
        COUNT(*) AS total_count,
        'leitura' AS type
    FROM `system`.access.table_lineage
    WHERE source_table_full_name IS NOT NULL 
      AND entity_type IS NOT NULL 
      AND CONCAT(source_table_schema, '.', source_table_name) IS NOT NULL
    GROUP BY source_table_schema, source_table_name

    UNION ALL

    SELECT 
        CONCAT(source_table_schema, '.', target_table_name) AS table,
        COUNT(*) AS total_count,
        'escrita' AS type
    FROM `system`.access.table_lineage
    WHERE target_table_full_name IS NOT NULL 
      AND entity_type IS NOT NULL 
      AND CONCAT(source_table_schema, '.', target_table_name) IS NOT NULL
    GROUP BY source_table_schema, target_table_name
) subquery
WHERE table LIKE 'nintendo%'
GROUP BY type
ORDER BY total_count DESC

## Contagem de ações por tabelas

In [0]:
%sql
SELECT 
    table,
    type,
    SUM(total_count) AS total_count
FROM (
    SELECT 
        CONCAT(source_table_schema, '.', source_table_name) AS table,
        COUNT(*) AS total_count,
        'leitura' AS type
    FROM `system`.access.table_lineage
    WHERE source_table_full_name IS NOT NULL 
      AND entity_type IS NOT NULL 
      AND CONCAT(source_table_schema, '.', source_table_name) IS NOT NULL
    GROUP BY source_table_schema, source_table_name

    UNION ALL

    SELECT 
        CONCAT(source_table_schema, '.', target_table_name) AS table,
        COUNT(*) AS total_count,
        'escrita' AS type
    FROM `system`.access.table_lineage
    WHERE target_table_full_name IS NOT NULL 
      AND entity_type IS NOT NULL 
      AND CONCAT(source_table_schema, '.', target_table_name) IS NOT NULL
    GROUP BY source_table_schema, target_table_name
) subquery
WHERE table LIKE 'nintendo%'
GROUP BY table, type
ORDER BY total_count DESC